{% extends "encyclopedia/layout.html" %}
{% block body %}
    
    {{ content|safe }}

    <!-- use anchor to redirect user to the form, 
        with the value of "title" to the "name" argument in "edit" function
    in href url, the title value don't need { } sign around the "title", but the normal part do need -->
    <a href="{% url 'encyclopedia:edit' name=title %}">Edit {{ title }}</a>


    <form action="{% url 'encyclopedia:remove' %}" method="post">
        {% csrf_token %}

        <!-- to give the value of title to input value, we need {} sign -->
        <input type="hidden" name="re" value="{{ title }}">

        <button>Delete entry</button>
    </form>

{% endblock %}