{% extends "encyclopedia/layout.html" %}
{% block body %}
    
    <p>{{ content|safe }}</p>

    <!-- use anchor to redirect user to the form, 
        with the value of "title" to the "name" argument in "edit" function
    in href url, the title value don't need { } sign around the "title", but the normal part do need -->
    
    <div class="link"><a href="{% url 'encyclopedia:edit' name=title %}">Edit entry</a></div>

    <form onsubmit="return confirm('IMPORTANT!!! Do you really want to DELETE {{ title }}? ');" class="delete" action="{% url 'encyclopedia:remove' %}" method="post">
        {% csrf_token %}

        <!-- to give the value of title to input value, we need {} sign -->
        <input type="hidden" name="re" value="{{ title }}">

        <button>Delete entry</button>
    </form>

{% endblock %}